@font-face 
  font-family: e-Ukraine
  src: url(../fonts/e-Ukraine-Regular.otf)
@font-face 
  font-family: benbold
  src: url(../fonts/benbold.ttf)
@function get-vw($target) 
  $vw-context: (1000*.01) * 1px
  @return ($target/$vw-context) * 1vw
$background_main: 4
$background_player: 4
$pg_default: 5em
$pg_med: 4em
$pg_phones: 3em
$premium: rgba(25, 107, 125, 0.8)
$premiumplus: rgba(25, 125, 57, 0.8)
.container
    max-width: 1800px
body
    color: white
    background-color: #171717
    font-size: 24px
    font-family: e-Ukraine
    word-wrap: break-word
    a
        color: rgba(255, 255, 255, 0.75)
        text-decoration: none
        .active
            color: white
.icons
    background-size: cover
    width: 36px
    height: 36px
.i6
    background-image: url('icons/dicord.svg')
//ебаная ленточка
.zif
    position: relative
    z-index: 5 !important
.vcyb
    display: none
.shadowtxt
    -webkit-text-shadow: 1px 0px 8px rgba(24,  24,  24, 0.07)
    -moz-text-shadow: 1px 0px 8px rgba(24,  24,  24, 0.07)
    text-shadow: 1px 0px 8px rgba(24,  24,  24, 0.07)
//надеюсь я ее сделаю
.eu-b
    font-weight: 900
.logo-main
    width: 100px
    margin-left: 5vw
.vect
    background-color: #fff
.bbo
    font-family: benbold
.nav-item
    list-style-type: none
    display: flex
.navbar-collapse
    color: white
    font-size: 18px
.nav-link svg:hover
.eneida-socals
    width: 100%
    height: auto
.topo
    height: 28px
    width: 100%

//background-colors
.bg-vdrk 
    background-color: #151515
.bg-vdrl
    background: linear-gradient(90.54deg, #1E1E1E 24.35%, #171717 98.17%)
.bg-vdrlg
    background-color: #343434
.bg-vdrl .justify-content-center .scll
    background-color: #151515

//cards in whyeneida
.whyeneida
    height: auto
    width: 100%
    background: #1E1E1E
    display: inline-block
    overflow: hidden
    .mimr
        display: flex
.cdc
    padding-right: 5px
    background: #121212
    &-1
        background: #30221B
        flex-wrap: wrap
        display: inline-block
        width: 30%
        .col-8
            font-size: 23px
        &:hover
            background: #462d21
            box-shadow: 5px 5px 5px 5px #30221B
    &-2
        background: #222E2D
        display: inline-block
        width: 30%
        .col-8
            font-size: 23px
        &:hover
            background: #255855c3
            box-shadow: 5px 5px 5px 5px #222E2D
    &-3
        background: #2B2022
        display: inline-block
        width: 30%
        .col-8
            font-size: 23px
        &:hover
            background: #6137409c
            box-shadow: 5px 5px 5px 5px #2B2022
//donate
    //nickbox
.nickbox
    border-width: 1px
    border: 2px solid #151515
    border-radius: 16px
    padding: 2vw 2vw
    margin: 0 3vw
    width: auto
    &x
        margin: 13vh 0.5vw
.desc-nick
    max-width: 449px
    font-size: 16px
    margin: 1% 3vw
    color: rgba(255, 255, 255, 0.5)
.btn-success
    width: 40vw
    min-width: 310px
    max-width: 603px
    border-radius: 26px
    background: linear-gradient(132.7deg, #343434 -36.64%, #171717 63.62%)
.donator .col6
    padding: 2vw 2vw
.donators
    height: auto
    width: 100%
    font-size: 20px
    background: linear-gradient(132.7deg, #343434 -36.64%, #171717 63.62%)
.doncard
    width: 250px
    height: 350px
    border: 16px solid transparent
    backdrop-filter: blur(21px)
    border-radius: 16px
    background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.2) 0%, rgba(225, 196, 196, 0) 100%)
    text-align: center
    font-size: 20px
    padding-top: 32px
    .mcblock
        display: flex
        justify-content: center
        padding-top: 21px
    img
        width: 144px
        height: 144px
        text-align: center
    .price
        padding-top: 26px
        color: rgba(255, 255, 255, 0.75)
        letter-spacing: 2px
        font-size: 14px
    .clicktobuy
        padding-top: 8px
        color: rgba(255, 255, 255, 0.75)
        font-size: 14px
        text-align: center
        padding-bottom: 2vw
    &:hover
        background: linear-gradient(152.97deg, rgba(61, 61, 61, 0.2) 0%, rgba(225, 196, 196, 0) 100%)
    &-1
        border: 1px solid $premium
    &-2
        border: 1px solid $premiumplus
.nb_text
    padding-bottom: 46px
.input-group .form-control
    background-color: #373737
    flex: none
    color: white
    border: 0
    border-radius: 26px
    margin: 5vh 0 0vh 0
    width: 40vw
    min-width: 310px
    max-width: 603px
    height: 41px
.desc-don
    color: rgba(255, 255, 255, 0.5)
    padding-top: 13vh
.second-text
    color: rgb(167, 167, 167)

.cardsss
    border-radius: 16px
    width: 100%
    font-size: 1.0rem

//text-bar and other sections
.ultracrutchbutok
    width: 99%
    padding-left: 1rem
.textbar-1
    position: relative
    min-width: 100%
    max-width: 100%
.section-title
    height: auto
    font-size: 36px
    letter-spacing: 2px
.section-subtitle
    height: auto
    font-size: 16px
    letter-spacing: 1px
//social buttons
.scll 
    height: 20%
.socials-but
    height: auto
    .socials
        flex-direction: row
        display: flex
    .scll
        width: 20%
        height: 20%

//ip and player background
.welc
    background: url("../img/ua-skin.png"), url("../img/background.png")
    background-repeat: no-repeat
    height: auto
    background-size: 50%, cover
    position: relative
    background-position: right, right
    .zifs
        position: relative
        z-index: 6
        padding-left: 5vw
    .rough
        position: absolute
        z-index: 5
        width: 100%
        height: 100%
    img
        overflow: hidden
        float: right
    .headtxt
        font-size: clamp(24px, 3vw, 48px)
        padding-top: 12vh
    .subtext-welc
        padding-top: clamp(1px, 5vh, 10px)
        padding-right: 45vw
        font-size: clamp(10px, 1.5vw, 20px)
    .ip
        margin: clamp(1px, 2vh, 24px) 1vw clamp(1px, 2vh, 24px) 0vw
        color: white
        font-size: clamp(15px, 2vw, 24px)
        background: #151515
        border: 5px solid #FFFFFF
        padding: clamp(2px, 1vh, 16px) clamp(2px, 2vw, 24px)
        transition: all .5s
        -webkit-tap-highlight-color: transparent
        -webkit-appearance: button
        -webkit-mask-image: -webkit-radial-gradient(#000, linear-gradient(90deg, #FFD500 0%, #0066CC 98.72%))
        &:hover
            animation: stripes .75s infinite linear
            background: linear-gradient(90deg, #FFD500 0%, #0066CC 98.72%)
            color: #000
            transition: transform 0.2s ease
        &:hover:before
            --progress: 0
    .eukr
        font-family: e-Ukraine
    .eneida-version
        color: rgba(255, 255, 255, 0.75)
        font-size: 1vw
        font-size: clamp(14px, 1vw, 18px)
        letter-spacing: 0.2em
        padding-bottom: 10vh
    .round
        &1
            background-color: #fff
            width: 100
            height: 100px
            top:200px
            position: absolute

footer
    height: 174px
    .footer_links
        display: flex
        align-items: center
        justify-content: center
        float: right
        text-align: left
        font-size: clamp(10px, 1.35vw, 20px)
        div 
            display: inline-block
            padding-right: 4vw
    font-size: 14px
.space-text
    letter-spacing: 3px
.lhe
    line-height: 1px
@media (min-width: 521px) and (max-width: 991px)
    .round
        &-b
            position: absolute
            width: 30vh
            height: 30vh
            border-radius: 50%
            background: #0066CC
            filter: blur(10vw)
            left: 0
            bottom: -15%
            z-index: 3
        &-l
            position: absolute
            width: 30vh
            height: 30vh
            border-radius: 50%
            background: #0066CC
            filter: blur(10vw)
            left: -20%
            top: 50%
            z-index: 5
    .vcyb
        display: none
    .welc
        background-image: url("../img/background.png")   
        background-repeat: no-repeat
        height: auto
        width: 100%
        background-size: cover
    .whyeneida
        height: auto
        width: 100%
        background: #1E1E1E
        display: inline-block
        overflow: hidden
        .mimr
            display: block
    footer 
        .footer_links
            text-align: center
    .cdc
        padding-right: 5px
        background: #121212
        &-1
            background: #30221B
            flex-wrap: wrap
            display: inline-block
            margin-bottom: 5px
            width: 500px
            .col-8
                font-size: 23px
        &-2
            background: #222E2D
            margin-bottom: 5px
            display: inline-block
            width: 500px
            .col-8
                font-size: 23px
        &-3
            background: #2B2022
            margin-bottom: 5px
            display: inline-block
            width: 500px
            margin: 0 auto
            .col-8
                font-size: 23px
@media (max-width: 767px)
    footer 
        .footer_links
            text-align: center
            font-size: clamp(16px, 3vw, 48px)
            padding-right: 0
        .footer_logo
            text-align: center
@media (min-width: 768px)
    footer
        .footer_logo
            padding-left: 1.5rem!important
//cards fix for 920-992 width (if this condition is not specified, cards will not be displayed correctly on this range)
@media (min-width: 992px)
    .cdc
        &-1
            max-width: 545px
            max-height: 274px
        &-2
            max-width: 545px
            max-height: 274px
        &-3
            max-width: 545px
            max-height: 274px
    .round
        &-b
            position: absolute
            width: 316px
            height: 316px
            border-radius: 50%
            background: #0066CC
            filter: blur(137px)
            left: 0
            bottom: -15%
            z-index: 3
        &-l
            position: absolute
            width: 316px
            height: 316px
            border-radius: 50%
            background: #0066CC
            filter: blur(137px)
            left: -20%
            top: 50%
            z-index: 5
//phones fix
@media (max-width: 520px)
    .round
        &-b
            position: absolute
            width: 15vh
            height: 15vh
            border-radius: 50%
            background: #0066CC
            filter: blur(37px)
            right: -10%
            overflow: hidden
            bottom: 20%
            z-index: 2
        &-l
            position: absolute
            width: 15vh
            height: 15vh
            border-radius: 50%
            background: rgba(255, 247, 0, 0.9)
            filter: blur(37px)
            left: -10%
            overflow: hidden
            top: 20%
            z-index: 2
    .navbar
        padding-left: 1vw
        .scll
            padding-left: 1vw
    .nickbox
        &x
            margin: 3vh 0.5vw 1vh 0.5vw
    .vcyb
        display: none
    .welc
        background-image: url("../img/background.png")   
        background-repeat: no-repeat
        height: auto
        width: 100%
        overflow: hidden
        background-size: cover
        .headtxt
            font-size: 8vw
        .subtext-welc
            font-size: 4vw
            padding-right: 25vw
        .eneida-version
            font-size: 2vw
    .whyeneida
        height: auto
        width: 100%
        background: #1E1E1E
        display: inline-block
        .mimr
            display: block
    .cdc
        padding-right: 5px
        background: #121212
        &-1
            background: #30221B
            flex-wrap: wrap
            display: inline-block
            margin-bottom: 2vh
            .col-8
                font-size: 23px
        &-2
            background: #222E2D
            margin-bottom: 2vh
            display: inline-block
            .col-8
                font-size: 23px
        &-3
            background: #2B2022
            margin-bottom: 2vh
            display: inline-block
            .col-8
                font-size: 23px
    .logo-main
        width: 95px
        margin-left: 1.5vw
@media (min-width: 1400px) and (max-width: 2560px) and (min-height: 600px) and (max-height: 1115px)
    .vcyb
        position: absolute
        display: inline
        width: auto
        z-index: 4
        top: 0px
        left: -35px
    .logo-main
        width: 100px
        margin-left: 115px
